APP_NAME=PORTAL
BASE_URL=http://lintas.xz
DB_CONNECTION=mysql
HOST_DB=mysql
PORT_DB=3306
USER_DB=root
USER_PW=root
DB=db_lintas

IP_API_URL=''
GEO_API_URL=''
GEODATA_API_URL=''
GEODATA_API_KEY=
GEODATA_SEARCH_API_URL=''