APP_NAME=PORTAL
API_KEY=
BASE_URL=http://lintas.xz
DB_CONNECTION=mysql
HOST_DB=mysql
PORT_DB=3306
USER_DB=root
USER_PW=root
DB=db_lintas
PRIVATE_KEY_PATH=

IP_API_URL=''
GEO_API_URL=''
GEODATA_API_URL=''
GEODATA_API_KEY=
GEODATA_SEARCH_API_URL=''