#content-wrapper {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}
#popup-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.swiper-pagination {
  bottom: 80px !important;
}
.swiper-pagination span {
  width: 15px;
  height: 15px;
  background-color: rgba(228, 228, 228, 0.8);
  opacity: 90% !important;
}

.swiper-pagination-bullet-active {
  width: 18px !important;
  height: 18px !important;
  background-color: rgba(255, 118, 0, 0.9) !important;
}

/* Tambahkan ini pada bagian CSS Anda */
#navbar-search-input {
  width: 350px !important;
  /* Sesuaikan lebar input sesuai kebutuhan */
  border: none;
  border-radius: 8px;
  padding: 8px 2px 8px 12px;
  /* Sesuaikan padding sesuai kebutuhan */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Tambahkan box shadow di bagian bawah */
  margin-left: 0.2rem;
  text-indent: 25px;
  font-size: 12px;
}

.article__wrapper,
.program__sedekah-wrapper {
  background-color: rgba(255, 118, 0, 0.1);
  background-image: url("");
  background-size: cover;
}

/* Responsive styles for smaller devices */
@media only screen and (max-width: 767px) {
  .article__wrapper,
  .program__sedekah-wrapper {
    background-color: rgba(255, 118, 0, 0.1);
    background-image: url("");
    background-size: cover;
    left: 0;
    margin-left: -1rem;
  }
  .modal-content {
    max-width: 80%;
  }
  .swiper-pagination {
    bottom: 80px !important;
  }
  .swiper-pagination span {
    width: 15px;
    height: 15px;
    background-color: rgba(228, 228, 228, 0.8);
    opacity: 90% !important;
  }

  .swiper-pagination-bullet-active {
    width: 18.5px !important;
    height: 18.5px !important;
    background-color: rgba(255, 118, 0, 0.9) !important;
  }
  #navbar-search-input {
    width: 250px !important;
    /* Sesuaikan lebar input sesuai kebutuhan */
    border: none;
    border-radius: 8px;
    padding: 8px 28px 8px 12px;
    /* Sesuaikan padding sesuai kebutuhan */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Tambahkan box shadow di bagian bawah */
    margin-left: 0.5rem;
    text-indent: 13px;
    font-size: 12px;
  }
}

.mySwiper::-webkit-scrollbar {
  width: 12px;
}

.mySwiper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.mySwiper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.mySwiper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/*Swipper Scrollbar Costom*/
.swiper-scrollbar {
  height: 8px !important;
  opacity: 1;
}

/* Styling untuk scrollbar saat dihover */
.swiper-scrollbar:hover {
  opacity: 1;
}
